@font-face {
  font-family: "ALSSchlangesans";
  src: local("ALSSchlangesans"), url("../fonts/ALSSchlangesans-Black.woff") format("woff");
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: "MyriadPro";
  src: local("MyriadPro"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Rotondac";
  src: local("Rotondac"), url("../fonts/rotondac-bold.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Rotondac";
  src: local("Rotondac"), url("../fonts/rotondac.woff") format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0 auto;
  font-family: "RotondaC", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #484848; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.container {
  width: 300px;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px; }

.form__email {
  padding: 5px 12px;
  margin-bottom: 12px; }

.form__textarea {
  margin-bottom: 15px;
  padding-top: 12px;
  padding-left: 12px;
  height: 150px; }

.form__btn-submit {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 14px 10px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #2856a8;
  border-radius: 23px;
  border: 0;
  cursor: pointer;
  outline: none; }

.form__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
  padding-bottom: 17px;
  border-radius: 0 0 17px 17px;
  background-color: #2856a8; }

.more__link {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 12px;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  color: #2856a8;
  background-color: white;
  border: 1px dashed;
  border-radius: 8px;
  cursor: pointer; }

.morer__link-rules {
  position: relative;
  margin-bottom: 20px;
  font-size: 12px;
  color: white;
  text-decoration: none; }
  .morer__link-rules::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    left: 120%;
    bottom: 3px;
    border-left: 1px solid #f1d02f;
    border-bottom: 1px solid #f1d02f;
    -webkit-transform: rotate(137deg);
            transform: rotate(137deg); }

.more__link-agreement {
  font-size: 12px;
  text-transform: uppercase;
  color: white; }

.page-main__wrapper {
  position: relative;
  border-radius: 17px 17px 0 0;
  background-color: #2856a8; }

.page-main__info {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 0.6px;
  width: 250px;
  text-transform: uppercase;
  color: white; }

.page-main__order {
  color: #f1d02f; }

.page-main__toggle {
  position: absolute;
  top: 9px;
  right: 16px;
  width: 13px;
  height: 13px;
  font-size: 0;
  color: white;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none; }
  .page-main__toggle::before, .page-main__toggle::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 2px;
    width: 13px;
    height: 1px;
    background-color: white; }

.page-main__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.page-main__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.page-main__offer {
  margin: 0 auto;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.page-main__customer {
  margin: 29px 24px 25px 0;
  padding-left: 18px;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.7px;
  font-family: "ALS Schlange sans", "Arial", sans-serif;
  color: #2856a8; }

.page-main__discount {
  padding: 10px 20px 5px 23px;
  margin: 15px 0 10px 0;
  border-radius: 10px 0 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95px;
          flex: 0 0 95px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-size: 25px;
  line-height: 28px;
  font-weight: 700;
  font-family: "ALS Schlange sans", "Arial", sans-serif;
  color: #f1d02f;
  background-color: #2856a8; }

.page-main_promo {
  margin: 0;
  margin-bottom: 20px; }

.page-main__social {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.social__link {
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none; }
  .social__link--odk {
    background-image: url("../img/odk-icon.png");
    border: 3px solid #ef8116; }
  .social__link--fb {
    background-image: url("../img/fb-icon.png");
    border: 3px solid #414594; }
  .social__link--tw {
    background-image: url("../img/tw-icon.png");
    border: 3px solid #3aaae3; }
  .social__link--vk {
    background-image: url("../img/vk-icon.png");
    border: 3px solid #416da1; }

.text-form {
  width: 100%;
  outline: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.56px;
  font-family: inherit;
  color: #484848;
  border: 2px solid #2856a8;
  border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
